# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
env/
venv/
ENV/
db.sqlite3
db.sqlite3-journal

# Node
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
